Repository maxbibikov/maxbibikov.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint, eslint, yarn run test, yarn run test:e2e:run

.lintstagedrc:

{
  "*.{js,jsx,json,md}": "prettier --write",
  "*.{js,jsx}": ["stylelint", "eslint", "yarn run test", "yarn run test:e2e:run"],
}

fix: image format, test config
  .huskyrc
  .lintstagedrc
  assets/images/profile-pic.jpg
  assets/images/profile-pic.webp
  jest.config.js
  netlify.toml
  package.json
  src/components/Image.js
Due: prettier --write, stylelint, eslint, yarn run test, yarn run test:e2e:run

Update Projects “2020-05-25-members-only-nodejs-website”
  content/projects/2020-05-25-members-only-nodejs-website.md
Due: prettier --write

chore: cms branch to master, fix cy:run
  package.json
  static/admin/config.yml
Due: prettier --write

chore: version 0.3.1
  package.json
Due: prettier --write

chore: update gatsby to v4
  .husky/pre-commit
  .huskyrc
  cypress.config.js
  cypress.json
  cypress/support/e2e.js
  jest.config.js
  package-lock.json
  package.json
  src/components/__tests__/Footer.js
  yarn.lock
Due: prettier --write, stylelint, eslint, yarn run test, yarn run test:e2e:run

chore: use gatsby Head Remove react-helmet. Use gatsby Head instead. Update website title.
  gatsby-config.js
  gatsby-ssr.js
  package-lock.json
  package.json
  src/components/SEO.js
  src/pages/404.js
  src/pages/blog.js
  src/pages/contact.js
  src/pages/index.js
  src/pages/projects.js
Due: prettier --write, stylelint, eslint, yarn run test, yarn run test:e2e:run

chore: swap yarn commands to npm
  netlify.toml
  package.json
Due: prettier --write

chore: turn off offline plugin
  gatsby-config.js
  package-lock.json
Due: prettier --write, stylelint, eslint, yarn run test, yarn run test:e2e:run

fix: cypress e2e tests
  .eslintrc.js
  cypress.config.js
  cypress/e2e/accessibility.test.js
  cypress/plugins/index.js
Due: prettier --write, stylelint, eslint, yarn run test, yarn run test:e2e:run

chore: use gatsby-plugin-image
  gatsby-config.js
  package-lock.json
  package.json
  src/components/Bio.js
  src/components/Image.js
Due: prettier --write, stylelint, eslint, yarn run test, yarn run test:e2e:run

chore: version 0.4.0
  package.json
Due: prettier --write

chore!: update gatsby to v5
  .husky/pre-commit
  .lintstagedrc
  .stylelintrc
  gatsby-config.js
  package-lock.json
  package.json
  setup-test-env.js
  src/components/BlogPreview.js
  src/components/ProjectsPreview.js
  src/pages/blog.js
  src/pages/projects.js
Due: prettier --write, stylelint, eslint, yarn run test, yarn run test:e2e:run

chore(cms): install decap cms
  gatsby-config.js
  package-lock.json
  package.json
  static/admin/config.yml
Due: prettier --write, stylelint, eslint, yarn run test, yarn run test:e2e:run

Create Blog “2024-08-01-test-article”
  content/blog/2024-08-01-test-article.md
Due: prettier --write

style: remove top bar hiding feature
  src/components/Header.js
Due: prettier --write, stylelint, eslint, yarn run test, yarn run test:e2e:run

style: themes use css variables Instead ThemeContext from styled-components use css variables and body data-theme. Potentially better performans and less unnecessary rerenders in react.
  src/components/BlogCard.js
  src/components/Button.js
  src/components/Header.js
  src/components/Layout/colors.css
  src/components/Layout/index.js
  src/components/Layout/layout.css
  src/components/NavModal.js
  src/components/Navigation.js
  src/components/Theme.js
Due: prettier --write, stylelint, eslint, yarn run test, yarn run test:e2e:run

style: fix color variable names
  src/components/BlogCard.js
  src/components/Layout/colors.css
  src/components/ProjectCard.js
Due: prettier --write, stylelint, eslint, yarn run test, yarn run test:e2e:run

style: fix button shadow
  src/components/Button.js
Due: prettier --write, stylelint, eslint, yarn run test, yarn run test:e2e:run

chore: version 0.5.0
  package.json
Due: prettier --write

Update Blog “2020-12-03-tech-stack-behind-this-website”
  content/blog/2020-12-03-tech-stack-behind-this-website.md
Due: prettier --write

feat: move content to separate repo
  content/blog/2020-12-03-tech-stack-behind-this-website.md
  content/projects/2020-05-06-blog-api-built-with-nodejs-express-and-mongodb.md
  content/projects/2020-05-25-blog-app-built-with-react-static-and-styled-components.md
  content/projects/2020-05-25-blog-content-management-app-1.md
  content/projects/2020-05-25-electric-vehicle-shop-inventory-management-app.md
  content/projects/2020-05-25-members-only-nodejs-website.md
  content/projects/2020-06-09-i-love-movies-react-redux-app.md
  content/projects/2020-11-05-currency-converter.md
  gatsby-config.js
  package-lock.json
  package.json
  static/admin/config.yml
Due: prettier --write, stylelint, eslint, yarn run test, yarn run test:e2e:run

Create Blog “2026-09-10-test”
  content/blog/2026-09-10-test.md
Due: prettier --write

Delete Blog “2026-09-10-test”
  content/blog/2026-09-10-test.md
Due: prettier --write

Update Blog “2026-09-10-test”
  content/blog/2026-09-10-test.md
Due: prettier --write

Create Blog “2026-09-10-beyond-the-hype-why-webassembly-wasm-is-quietly-swallowing-the-cloud”
  content/blog/2026-09-10-beyond-the-hype-why-webassembly-wasm-is-quietly-swallowing-the-cloud.md
Due: prettier --write

fix: use github backend in cms settings
  static/admin/config.yml
Due: none

chore: change cms in tech stack description
  README.md
Due: prettier --write

Delete Blog “2026-09-10-beyond-the-hype-why-webassembly-wasm-is-quietly-swallowing-the-cloud”
  content/blog/2026-09-10-beyond-the-hype-why-webassembly-wasm-is-quietly-swallowing-the-cloud.md
Due: prettier --write
